.landing{
    /* background: url(/base-apparel-coming-soon-master/static/images/bg-pattern-desktop.svg)no-repeat center center fixed;
    height: 100%;
    background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
    width: 600px; */

    width: 100%;
    height: 95%;
    border: 1px solid #000;
    /* <!-- <img src="/base-apparel-coming-soon-master/static/images/hero-desktop.jpg" style="background-color: red"> --> */

}
.wrap{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 1440px;
}
.greetings{
    background: url(/base-apparel-coming-soon-master/static/images/bg-pattern-desktop.svg);
    height: 100%;
    background-size:100%;
    width: 58%;
    text-align: center;
    

}
.image{
   width:42%;
   height:100%;
   border-left: 1px solid #000;

}
.image1{
    width:590px;
    margin-left:px;
    height: 794px;
}
.centered-text{
    display:flex;
    text-align: justify;
    transform:  translateY(50%) translateX(50%);
    flex-direction: column;
    width:400px;
}
.brand{
  display: flex;
  justify-content: center;
  margin-left: -270px;
  margin-top:50px;
}
